@import '../../../../assets/variables';
@import '../../../../assets/mixins';

.comments-list {
  display: grid;
  gap: 20px;
}

.login-to-comment {
  padding: 20px;
  text-align: center;
  background-color: $comment-form-bg;
  border: $comment-form-border;
  border-radius: $border-radius-md;
  margin-bottom: 20px;

  a {
    color: $tab-active-color;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}